<style>

 body{margin:40px;}

 a {color: black;  }
.same {text-decoration: none;}

 h1{  text-align: center;

      font-size: 100px;
       border-bottom: solid 3px gray;
                      margin:0;
                      padding:30px;}

 #grid {display: grid;
       grid-template-columns: 350px 1fr;}

 #grid ol{ font-size: 50px;
                border-right: 2px gray solid;
                 width: 300px; margin: 0;
                 padding-top: 50px; padding-left:50px;}

  #grid #article{padding-top: 12px; padding-left: 30px;}
  #grid #article h2{font-size:50px}
  #grid #article h3{font-size: 40px;}
  #grid #article p,td{font-size: 25px;}

  @media (max-width:1500px) {
                          h1{border-bottom: none;}
                          #grid {display: block; }
                          #grid ol{border-right: none;}
                          }
</style>
